OPENAI_ENDPOINT=https://deepa-min0ats1-eastus2.openai.azure.com/openai/v1/
OPENAI_MODEL=gpt-5.4-mini
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

EXA_API_KEY=
EXA_ENABLED=true

LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=

# Should be set to true for a production deployment on Open Agent Platform. Should be set to false otherwise, such as for local development.
GET_API_KEYS_FROM_CONFIG=false

# Postgres connection string and collection name for the LangChain Postgres database
CONNECTION_STRING="postgresql+psycopg://langchain:langchain@localhost:6024/langchain"  # Uses psycopg3!
COLLECTION_NAME="langchain_db"
